{
        "useTabs": true,
        "tabWidth": 8,
        "singleQuote": true,
        "trailingComma": "all",
        "arrowParens": "avoid",
        "printWidth": 300,
        "bracketSpacing": true,
        "bracketSameLine": true
}